input {
  border: none;
  width: 300px;
  padding: 8px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.icon {
  display: inline-block;
  width: 1.9em;
  height: 1.9em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
}

.icon:hover {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  fill: #23ae00;
}

.overlay {
  position: relative;
}

.gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

img {
  display: block;
  // max-width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.info-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}
.photo-card {
  width: 100%;
  background: radial-gradient(
      610px at 5.2% 51.6%,
      rgba(247, 237, 255, 0.624) 0%,
      rgba(237, 237, 255, 0.667) 97.5%
    )
    no-repeat fixed;
  flex-basis: calc(25% - 15px);
  transition: transform 0.25s linear;
  box-shadow: 10px 10px 18px -12px #7378af;
}

.photo-card:hover,
.photo-card:focus {
  transform: scale(1.05);
}

.btn-container {
  display: flex;
  justify-content: center;
}

.load-more {
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: black;
  background: linear-gradient(90deg, #f598a8, #f6edb2);
  cursor: pointer;
}
